/* START CSS RESET Based Off Kevin Powell */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}


/* END CSS RESET Based Off Kevin Powell */


/* START Main CSS */

body {
    font-family: 'Roboto', sans-serif;
}

.nav-container,
.hero-container {
    background-color: #1f2937;
    color: #fff;
}


/* END Main CSS


/* START Nav */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75em;
}

.company-name {
    font-size: 1.75em;
}

.nav-list {
    display: flex;
    gap: .75em;
}

.nav-list-item {
    list-style: none;
}

.nav-list-link {
    text-decoration: none;
}


/* END Nav */