/* START CSS RESET Based Off Kevin Powell */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}


/* END CSS RESET Based Off Kevin Powell */


/* START Main CSS */

body {
    font-family: 'Roboto', sans-serif;
}

.nav-container,
.hero-container {
    background-color: #1f2937;
    color: #fff;
}


/* END Main CSS


/* START Nav */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75em;
    align-items: center;
}

.company-name {
    font-size: 2.5em;
}

.nav-list {
    display: flex;
    gap: .75em;
}

.nav-list-item {
    list-style: none;
}

.nav-list-link {
    text-decoration: none;
    color: #e99105;
}

.nav-list-link:hover,
.nav-list-link:focus {
    opacity: 0.7;
}

.selected {
    padding: .3em;
    border: 2px solid #e99105;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}


/* END Nav */


/* Hero Section Below Main Nav */

.hero-container {
    display: flex;
    align-items: center;
    padding: 1em;
}

.hero-description {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.hero-title {
    font-size: 2em;
}

.hero-title span {
    color: #e99105;
    font-weight: 700;
    font-size: 2em;
}

.hero-cta {
    width: 25%;
    border-radius: 10px;
    background-color: #e99105;
    margin-top: 0.5em;
    box-shadow: 2px 2px 4px #e5be68;
}

.hero-image {
    height: auto;
}