/* START CSS RESET Based Off Kevin Powell */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}


/* END CSS RESET Based Off Kevin Powell */


/* START Main CSS */

body {
    font-family: 'Roboto', sans-serif;
}

.nav-container,
.hero-container,
.footer-container {
    background-color: #1f2937;
    color: #fff;
}


/* END Main CSS


/* START Nav */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75em;
    align-items: center;
}

.company-name {
    font-size: 2.5em;
}

.nav-list {
    display: flex;
    gap: .75em;
}

.nav-list-item {
    list-style: none;
}

.nav-list-link {
    text-decoration: none;
    color: #e99105;
}

.nav-list-link:hover,
.nav-list-link:focus {
    opacity: 0.7;
}

.selected {
    padding: .3em;
    border: 2px solid #e99105;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}


/* END Nav */


/* START Hero Section Below Main Nav */

.hero-container {
    display: flex;
    align-items: center;
    padding: 1em;
}

.hero-description {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.hero-title {
    font-size: 2em;
}

.hero-title span {
    color: #e99105;
    font-weight: 700;
    font-size: 2em;
}

.hero-cta {
    width: 25%;
    border-radius: 10px;
    background-color: #e99105;
    margin-top: 0.5em;
    box-shadow: 2px 2px 4px #e5be68;
    cursor: pointer;
}

.hero-cta:hover,
.hero-cta:focus {
    opacity: 0.7;
}

.hero-image {
    height: auto;
}


/* END Hero Section Below Main Nav */


/* START Main Section Below Hero Section */

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}


/* START Services Section */

.services {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.services>.services-title {
    grid-column: 1/5;
    font-size: 2em;
    padding: 1em;
    text-shadow: 2px 2px 7px #1f2937;
    letter-spacing: .1em;
}

.services-grid-item {
    width: 80%;
    padding: 1em;
    border: 2px solid #1f2937;
    border-radius: 10px;
    margin: 0 auto;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

.services-grid-item>p:nth-child(1) {
    color: #317cce;
    font-size: 1.25em;
    padding-bottom: 1em;
}


/* END Services Section */


/* START Testimonials Section */

.testimonials {
    text-align: center;
    margin: 3em auto;
    padding: 3em;
    background-color: #E5E7EB;
}

.testimonials>p {
    font-style: italic;
    width: 50%;
    margin: 0 auto;
    font-size: 1.55em;
    padding-bottom: 0.5em;
}

.testimonials>p:nth-child(2) {
    font-style: normal;
    text-align: right;
    font-weight: 500;
}


/* END Testimonials Section */


/* START Call To Action Section */

.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1f2937;
    color: #fff;
    padding: 1em;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
}

.cta-section-button {
    border-radius: 10px;
    background-color: #1f2937;
    margin-top: 0.5em;
    color: #fff;
    border: 2px solid;
    padding: 0.5em;
    cursor: pointer;
}

.cta-section-button:hover,
.cta-section-button:focus {
    opacity: 0.7;
}


/* END Call To Action Section */


/* END Main Section Below Hero Section */


/* START Footer */

footer {
    text-align: center;
    padding: 1.5em;
    background-color: #1f2937;
    color: #e99105;
}


/* END Footer */